<div class="container">
  <mat-progress-spinner mode="indeterminate" *ngIf="!collection" diameter="50" color="accent" class="spinner">
  </mat-progress-spinner>
  <div class="home" *ngIf="collection">
    <div class="home-item" style="margin: 10px 0;">
      <span class="mat-h3">Today learning session will contains:</span>
    </div>
    <div class="home-item">
      <span>New: <span appCardsAmount="new" [colorCode]="collection.colorCode">{{getCard('new')}}</span>
        card(s)</span>
    </div>
    <div class="home-item">
      <span>Review: <span appCardsAmount="review" [colorCode]="collection.colorCode">{{getCard('review')}}</span>
        card(s)</span>
    </div>
    <div class="home-item">
      <span>Due: <span appCardsAmount="due" [colorCode]="collection.colorCode">{{getCard('due')}}</span>
        card(s)</span>
    </div>
    <div class="home-item" style="margin-top: 24px;">
      <button mat-raised-button color="primary">Start Learning</button>
    </div>
  </div>
</div>
