.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .home {
    display: flex;
    flex-direction: column;

    .home-item {
      margin: 2px 0;
    }
  }
}
