@import '../../../theme/theme.scss';

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: 0;
  overflow: auto;

  .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 32px;

    .toolbar-content {
      display: flex;
      align-items: center;
      position: relative;

      &.title {
        display: flex;
        align-items: center;
        cursor: default;

        .collection {
          font-size: 1rem;
        }

        div {
          margin: 0 12px;
        }
      }

      button {
        margin: 0 6px;
      }
    }
  }

  .content {
    flex-grow: 1;


  }

  .actions {
    margin-top: 32px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;

    button {
      margin: 0 32px;
    }
  }
}
