<div class="container">
  <div class="toolbar">
    <div class="toolbar-content">
      <button mat-icon-button (click)="onView()" matTooltip="Switch between view mode">
        <mat-icon>
          {{viewType === 'flip' ? 'view_carousel' : 'view_column'}}
        </mat-icon>
      </button>
      <button mat-button *ngIf="viewType === 'flip'" (click)="onFlip()">Flip Side</button>
      <button mat-icon-button (click)="onPreview()" matTooltip="Toggle preview mode">
        <mat-icon>
          {{preview ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </button>
      <button mat-icon-button *ngIf="audioControl && audioControl.value.length && audioControl.valid"
        (click)="onRepeatSound()" matTooltip="Play audio">
        <mat-icon>
          volume_up
        </mat-icon>
      </button>
    </div>
    <div class="toolbar-content title">
      <div class="card" matTooltip="Card name">
        {{cardName}}
      </div>
      <span>-</span>
      <div class="collection mat-body-2" matTooltip="The collection this card belongs to">
        {{getCollectionName(cardForm.get('collectionId').value)}}
      </div>
    </div>
    <div class="toolbar-content" #dropdown>
      <ng-template appDropdown></ng-template>
      <button mat-flat-button color="accent" (click)="onSwitchCollection()">Switch Collection</button>
    </div>
  </div>
  <div class="content">
    <app-card-state></app-card-state>
  </div>
  <div class="actions">
    <div class="left-action">
      <mat-chip-list aria-label="Selected card" *ngIf="selectedCard">
        <mat-chip [removable]="true" (removed)="onRemove()" color="primary" selected>
          {{selectedCard.front}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="buttons">
      <button mat-stroked-button matTooltip="Clear all the information the card hold" (click)="onClear()">Clear</button>
      <button mat-raised-button color="primary" [disabled]="cardForm.invalid || loading"
        (click)="onSave()">{{selectedCard ? 'Update' : 'Create'}}</button>
    </div>
    <div class="action-container">
      <button mat-icon-button (click)="onDelete()" *ngIf="selectedCard">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </div>
  </div>
</div>
