<mat-dialog-content>
  <p>Select the collection this card will be in.</p>
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Collection</mat-label>
    <mat-select [formControl]="collectionForm" [(value)]="index">
      <mat-option *ngFor="let collection of collections; let index = index" [value]="index">
        {{collection.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="collectionForm.hasError('required')">Please choose a collection</mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="onConfirm()">Confirm</button>
</mat-dialog-actions>
