/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgb(243, 243, 243);
}

.flex-spacer {
  flex: 1 1 auto;
}

.snackbar {
  color: white;
  font-weight: 500;

  &.snackbar-error {
    background-color: #ff3c3c;
  }

  &.snackbar-warning {
    background-color: rgb(224, 98, 13);
  }

  &.snackbar-information {
    background-color: rgba(0, 155, 245, 0.959);
  }

  &.snackbar-success {
    background-color: rgb(0, 153, 0);
  }
}
