<mat-card>
  <mat-progress-spinner mode="indeterminate" [diameter]="25" *ngIf="loading"></mat-progress-spinner>
  <mat-action-list *ngIf="!loading">
    <button mat-list-item *ngFor="let collection of collections" (click)="onSelect(collection._id)"
      [ngStyle]="{'background-color': '#' + collection.colorCode}">
      {{collection.name}}
    </button>
  </mat-action-list>
</mat-card>
