<form [formGroup]="confirmForm" (submit)="onSubmit()">
  <h1>Confirm your password</h1>
  <mat-dialog-content>
    <mat-form-field class="form-field">
      <mat-label>Password</mat-label>
      <input matInput type="password" required formControlName="password">
      <mat-error *ngIf="confirmForm.invalid">You must enter a value</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button color="primary" type="submit" [disabled]="confirmForm.invalid">Submit</button>
  </mat-dialog-actions>
</form>
