@import '../../../theme/variables.scss';
@import '../../../theme/theme.scss';

.container {
  width: $collectionSize;
  height: $collectionSize;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  transition: $flavoca-swift-linear;

  &:hover {
    filter: brightness(110%);
  }

  &.disabled {
    cursor: unset;
    filter: brightness(50%);
  }

  .header {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;

  }
}
