<mat-card class="container" [style.background-color]="'#' + collection.colorCode" [ngClass]="{'disabled': disabled}">
  <div class="header mat-h2">
    <div class="name">
      {{collection.name}}
    </div>
    <div class="sub mat-small">
      <!-- Has: {{getCard('total')}} card(s) -->
      <!-- Has: 0 card(s) -->
    </div>
  </div>
  <div class="info">
    <div class="info-item">
      New: <span appCardsAmount="new" [colorCode]="collection.colorCode">{{getCard('new')}}</span> card(s)
      <!-- New: <span appCardsAmount="new" [colorCode]="collection.colorCode">0</span> card(s) -->
    </div>
    <div class="info-item">
      <!-- Review: <span appCardsAmount="review" [colorCode]="collection.colorCode">{{getCard('review')}}</span> card(s) -->
      Review: <span appCardsAmount="review" [colorCode]="collection.colorCode">0</span> card(s)
    </div>
    <div class="info-item">
      <!-- Due: <span appCardsAmount="due" [colorCode]="collection.colorCode">{{getCard('due')}}</span> card(s) -->
      Due: <span appCardsAmount="due" [colorCode]="collection.colorCode">0</span> card(s)
    </div>
  </div>
</mat-card>
