<div class="container" *ngIf="!collection">
  <mat-progress-spinner mode="indeterminate" diameter="50" class="spinner" color="accent"></mat-progress-spinner>
</div>
<div class="container" [ngStyle]="{'border-right': '3px solid #' + collection.colorCode}" *ngIf="collection">
  <div class="container-item">
    <span class="mat-h1">{{collection.name}}</span>
  </div>
  <div class="container-item">
    <span class="mat-subtitle">0 Cards</span>
  </div>
  <div class="container-item space-6">
    <span class="mat-subtitle update">Last update: {{collection.updatedAt | date}}</span>
  </div>
  <div class="container-item">
    <button mat-raised-button class="btn dashboard">Home</button>
  </div>
  <div class="container-item space-2">
    <div class="setting-container">
      <button mat-raised-button class="btn setting-btn-1" color="primary" (click)="onAddCard()">Add card</button>
      <button mat-raised-button class="btn setting-btn-1" (click)="onCardsList()">Cards list</button>
      <button mat-raised-button class="setting-btn-2" (click)="onSetting()" #settingButton>
        <mat-icon>
          settings
        </mat-icon>
      </button>
      <ng-template appDropdown></ng-template>
    </div>
  </div>
  <div class="space-2"></div>
  <div class="container-item">
    <span class="mat-h3">Currently active cards:</span>
  </div>
  <div class="container-item space-2">
    <div class="toolbar-container">
      <div class="toolbar-item">
        <button mat-button>Default</button>
      </div>
      <div class="toolbar-item">
        <button mat-icon-button>
          <mat-icon>
            filter_list
          </mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>
            shuffle
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="container-item">
    <div class="item-container">

    </div>
  </div>
</div>
