.container {
  min-width: 400px;
  width: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 32px;
  text-align: center;
  align-items: center;
  height: 100%;

  .spinner {
    margin-top: 50px;
  }

  .space-2 {
    margin: 12px 0;
  }

  .space-6 {
    margin: 36px 0;
  }

  .update {
    opacity: 0.5;
  }

  .container-item {
    width: 100%;

    .btn {
      width: 100%;
    }

    .setting-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .setting-btn-1 {
        margin-right: 8px;
      }

      .setting-btn-2 {
        margin-left: 8px;
      }
    }

    .toolbar-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

}
