<h2 mat-dialog-title>Confirmation</h2>
<div mat-dialog-content>
  Do you want to delete {{collection.name}} collection?
  <div *ngIf="getTotalCard" class="confirmation">
    <span>This collection has <span style="font-weight: 500;">{{getTotalCard}}</span> card(s).</span>
    <mat-checkbox [(ngModel)]="check">Keep all the cards</mat-checkbox>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
</div>
