<mat-progress-bar *ngIf="loading" mode="indeterminate" color="accent"></mat-progress-bar>
<div class="container">
  <div class="container-item card" [ngClass]="{'active': edit}">
    <app-card-info *ngIf="edit"></app-card-info>
    <div class="toggle" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"
      [@arrowToggle]="toggleStates ? 'open' : 'closed'" (click)="onToggle()" [ngClass]="{'closed': !itemStates}">
      <mat-icon class="arrow" *ngIf="toggleStates" [ngClass]="{'arrow-closed': !itemStates}">
        {{itemStates ? 'arrow_forward_ios' : 'arrow_back_ios'}}
      </mat-icon>
    </div>
  </div>
  <div class="container-item">
    <app-cards-container [@itemToggle]="itemStates ? 'enter' : 'leave'" (addButtonClick)="onAddButton()"
      [addButtonState]="!edit" [@containerState]="!edit ? 'active' : 'deactive'">
    </app-cards-container>
  </div>
</div>
