@import '../../theme/theme.scss';

mat-progress-bar {
  height: 5px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  .container-item {
    display: flex;
    align-items: center;
    height: 100%;

    &.card {
      flex: 1 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    &.active {
      padding-right: 12px;
    }

    .toggle {
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.20);
      cursor: pointer;
      transition: $flavoca-swift-linear;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10px;
      position: absolute;
      right: 0;

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.5);
      }

      &.closed {
        width: 15px;
      }

      .arrow {
        font-size: 1.7rem;
        color: white;
        width: 24px;

        &.arrow-closed {
          width: 12px;
        }
      }

    }
  }

}
