<div class="container">
  <button mat-raised-button color="primary" routerLink="/auth/sign-in">Sign In</button>
  <button mat-raised-button color="primary" routerLink="/auth/sign-up">Sign Up</button>
</div>
