<ng-template appBackdrop></ng-template>
<div class="container">
  <div class="item">
    <app-header></app-header>
  </div>
  <div class="item content">
    <router-outlet></router-outlet>
  </div>
</div>
