<form [formGroup]="updateForm" (submit)="onUpdate()">
  <mat-card class="card">
    <mat-card-title>UPDATE USER'S INFORMATION</mat-card-title>
    <mat-card-content>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput required formControlName="username">
        <mat-error *ngIf="updateForm.invalid">You must enter a value</mat-error>
        <mat-error *ngIf="errorCode === 'USERNAME_ALREADY_EXISTED'">
          Username is already existed!
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" required email formControlName="email">
        <mat-error *ngIf="updateForm.invalid">
          {{ updateForm.value.email ? 'Not a valid email!' : 'You must enter a value' }}
        </mat-error>
        <mat-error *ngIf="errorCode === 'EMAIL_ALREADY_EXISTED'">
          Email is already existed!
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="displayName">
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Avatar</mat-label>
        <input matInput formControlName="avatar">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end" class="actions">
      <button mat-flat-button color="primary" type="submit" [disabled]="updateForm.invalid">Update</button>
    </mat-card-actions>
  </mat-card>
</form>
