<mat-card class="container" @animation>
  <mat-action-list style="padding-top: 0;" dense>
    <button mat-list-item (click)="onChange()" class="btn-list">Change appearance</button>
    <button mat-list-item (click)="onDelete()" class="btn-list warn">Delete</button>
  </mat-action-list>
</mat-card>
