<mat-progress-bar mode="indeterminate" *ngIf="isLoading" color="accent"></mat-progress-bar>
<div class="toolbar">
  <div class="item">
    <mat-form-field appearance="outline" floatLabel="always" class="search-field">
      <mat-label>Search</mat-label>
      <input matInput type="text" placeholder="Type a collection's name" (keyup)="onSearch($event)"
        class="search-input">
    </mat-form-field>
  </div>
  <div class="item">
    <button mat-icon-button (click)="onRefresh()">
      <mat-icon>
        refresh
      </mat-icon>
    </button>
  </div>
</div>
<div class="container" *ngIf="!isLoading">
  <div class="item" *ngFor="let collection of collections">
    <app-collection-box [collectionId]="collection._id" [routerLink]="getCollectionLink(collection.name)">
    </app-collection-box>
  </div>
  <div class="item">
    <app-collection-create></app-collection-create>
  </div>
</div>
<div class="container" *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate" class="spinner" diameter="50" color="accent"></mat-progress-spinner>
</div>
