@import '../../../theme/theme.scss';

.container {
  display: flex;
  margin: 16px;
  align-items: center;
  flex-wrap: wrap;

  .spinner {
    margin: 100px auto 0;
  }

  .item {
    margin: 8px;
  }
}

.toolbar {
  @include flavoca-elevation(1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 32px 0;
  background-color: white;

  .search-field {
    width: 300px;
  }
}
