<mat-progress-bar mode="indeterminate" color="accent" *ngIf="signingState" style="height: 8px;"></mat-progress-bar>
<div class="container">
  <mat-card class="error-card" *ngIf="errorMessage">
    <mat-card-content>
      <div class="card-content">
        <span>
          {{errorMessage | error}}
        </span>
        <button mat-icon-button aria-label="Confirm error notification" (click)="errorConfirmation()">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <router-outlet></router-outlet>
</div>
<mat-grid-list cols="1" rowHeight="50px" style="margin-top: 20px;">
  <mat-grid-tile>
    <button mat-stroked-button class="btn" (click)="onSigninOAuth('google')" [disabled]="signingState">
      <fa-icon [icon]="faGoogle"></fa-icon>{{' '}}Sign in using Google
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-stroked-button class="btn" (click)="onSigninOAuth('facebook')" [disabled]="signingState">
      <fa-icon [icon]="faFacebook"></fa-icon>{{' '}}Sign in using Facebook
    </button>
  </mat-grid-tile>
</mat-grid-list>
