@import '../../theme/theme.scss';

.container {
  margin: 50px 20%;

  .card {
    margin-bottom: 16px;
  }
}

.error-card {
  border: 2px solid red;
  margin-bottom: 16px;
  background-color: rgb(255, 170, 170);
}

.btn {
  @include flavoca-elevation(1);
  width: 300px;
  background-color: white;

  &:hover {
    color: $flavoca-primary;
  }
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
