<form [formGroup]="collectionForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>
    {{mode === 'CREATE' ? 'Create a new Collection' : 'Update ' + collection.name + ' Collection'}}
  </h2>
  <mat-dialog-content class="content">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Collection's Name:</mat-label>
      <input matInput required formControlName="collectionName" tabindex="1">
    </mat-form-field>
    <span class="mat-h2">Collection's Color:</span>
    <div class="color-container">
      <div class="color-item" *ngFor="let color of colors; let index = index"
        [style.background-color]="'#' + color.code" (click)="onColorSelect(index)"
        [ngClass]="{'color-selected': color.selected}" [tabindex]="index + 1">
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align='end'>
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button mat-button color="primary" [disabled]="collectionForm.invalid"
      type="submit">{{mode === 'CREATE' ? 'Create' : 'Update'}}</button>
  </mat-dialog-actions>
</form>
