.content {
  margin-left: 10px;

  .form-field {
    width: 100%
  }
}

.color-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 12px 0;

  .color-item {
    margin: 3px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.75;

    &.color-selected {
      opacity: 1;
      border: 1px solid black;
    }
  }
}
