<form [formGroup]="cardForm">
  <div class="card front"
    *ngIf="(viewType === 'flip' && currentView === 'front') || (viewType === 'side' && state === 'front')">
    <mat-form-field class="word" appearance="outline">
      <textarea mat-autosize [matAutosizeMinRows]="1" [matAutosizeMaxRows]="6" type="text" matInput placeholder="Word"
        formControlName="front"></textarea>
      <mat-hint class="mat-caption">Type your word in front card</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="cardForm.get('frontInput').value">
      <textarea mat-autosize [matAutosizeMinRows]="1" [matAutosizeMaxRows]="3" matInput disabled
        placeholder="Definition Input"></textarea>
    </mat-form-field>
  </div>
  <div class="card back"
    *ngIf="(viewType === 'flip' && currentView === 'back') || (viewType === 'side' && state === 'back')">
    <div class="card-toolbar">
      <button mat-icon-button (click)="onAddInput()">
        <mat-icon>
          add
        </mat-icon>
      </button>
      <button mat-icon-button (click)="onMedia('image')">
        <mat-icon>
          {{media.image ? 'image_not_supported' : 'image'}}
        </mat-icon>
      </button>
      <button mat-icon-button (click)="onMedia('audio')">
        <mat-icon>
          {{media.audio ? 'music_off' : 'music_note'}}
        </mat-icon>
      </button>
      <div class="dropdown-container" #dropdown>
        <ng-template appDropdown></ng-template>
        <button mat-icon-button (click)="onSetting()">
          <mat-icon>
            settings
          </mat-icon>
        </button>
      </div>
    </div>
    <div class="input-container">
      <mat-form-field appearance="outline">
        <textarea mat-autosize [matAutosizeMinRows]="1" [matAutosizeMaxRows]="6" type="text" matInput
          placeholder="Definition" formControlName="definition" class="definition"></textarea>
        <mat-hint class="mat-caption">Type in the definition</mat-hint>
      </mat-form-field>
      <div class="additional-input" *ngFor="let additionalForm of additionalControl; let index = index">
        <app-card-additional-input [additionalForm]="additionalForm" [index]="index" @input
          placeholder="Additional Input">
        </app-card-additional-input>
      </div>
      <img [src]="imageControl.value" alt="card_image" *ngIf="imageControl.value.length && imageControl.valid">
    </div>
    <div class="media-input">
      <mat-form-field class="left-align" appearance="outline" *ngIf="media.image" @input>
        <input type="text" matInput formControlName="image" placeholder="http://...">
        <mat-icon matPrefix>
          image
        </mat-icon>
        <mat-hint class="mat-caption">Enter the image url</mat-hint>
      </mat-form-field>
      <mat-form-field class="left-align" appearance="outline" *ngIf="media.audio" @input>
        <input type="text" matInput formControlName="audio" placeholder="http://...">
        <mat-icon matPrefix>
          music_note
        </mat-icon>
        <mat-hint class="mat-caption">Enter the audio url</mat-hint>
      </mat-form-field>
    </div>
  </div>
</form>
