@import '~@angular/material/theming';

@mixin app-card-edit-theme($theme) {

  app-card-edit {
    .card {
      mat-form-field .mat-form-field-infix {
        text-align: center;
        border-top: unset;

        textarea {
          overflow-x: hidden;
        }
      }

      &.back {
        mat-form-field.left-align {
          .mat-form-field-infix {
            text-align: left;
          }

          .mat-form-field-prefix {
            top: .5em;
          }
        }
      }
    }
  }
}
