@import '../../../../theme/theme.scss';
@import '../../../../theme/variables.scss';

:host {
  width: 100%;
  height: 100%;

  form {
    height: 100%;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;

      mat-form-field {
        width: 80%;
      }

      &.front {
        justify-content: center;

        mat-form-field {
          margin: 12px 0;

          &.word textarea {
            font-size: 1.2rem;
            font-weight: 500;
          }
        }

      }

      &.back {
        .card-toolbar {
          justify-self: flex-start;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .dropdown-container {
            position: relative;
          }
        }

        .input-container {
          width: 100%;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          overflow-y: auto;

          .definition {
            font-size: 1.2rem;
            font-weight: 500;
          }

          .additional-input {
            width: 80%;
          }

          img {
            margin-top: 12px;
            width: 80%;
          }
        }

        .media-input {
          margin-top: 12px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
      }
    }
  }
}
