@import '~@angular/material/theming';

@mixin app-card-active-theme($theme) {

  app-card-active {
    .card {
      mat-form-field .mat-form-field-infix {
        text-align: center;
        border-top: unset;

        textarea {
          overflow-x: hidden;
        }
      }
    }
  }
}
