@import '../../../../theme/theme.scss';
@import '../../../../theme/variables.scss';

:host {
  width: 100%;
  height: 100%;

  .card {
    width: 100%;
    height: 100%;
    margin: 0 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    mat-form-field {
      width: 80%;
    }

    &.front {
      justify-content: center;

      mat-form-field {
        margin: 12px 0;
      }
    }

    &.back {
      .input-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-y: auto;

        .front-input {
          margin: 3px 0;

          &.correct {
            background-color: $flavoca-success;
          }

          &.incorrect {
            background-color: $flavoca-warn;
          }
        }

        .additional {
          margin: 3px 0;
        }
      }

      .image {
        margin-top: 12px;
        width: 100%;
        height: auto;
      }
    }
  }
}
