<div class="card front"
  *ngIf="(viewType === 'flip' && currentView === 'front') || (viewType === 'side' && state === 'front')">
  <span class="mat-h2">{{card.front}}</span>
  <mat-form-field appearance="outline" *ngIf="card.frontInput">
    <textarea mat-autosize [matAutosizeMinRows]="1" [matAutosizeMaxRows]="3" matInput placeholder="Definition Input"
      type="text" (keyup)="onKey($event)"></textarea>
  </mat-form-field>
</div>
<div class="card back"
  *ngIf="(viewType === 'flip' && currentView === 'back') || (viewType === 'side' && state === 'back')">
  <div class="input-container">
    <span class="mat-h3 front-input"
      [ngClass]="{'correct': card.definition === frontInput, 'incorrect': card.definition !== frontInput}">{{frontInput}}</span>
    <span class="mat-h2">{{card.definition}}</span>
    <span class="additional mat-body" *ngFor="let additionalInfo of card.addition">{{additionalInfo}}</span>
  </div>
  <img class="image" [src]="card.image" alt="card_image" *ngIf="card.image">
</div>
