<mat-progress-bar mode="indeterminate" *ngIf="isLoading" color="accent"></mat-progress-bar>
<div class="container">
  <div class="disable" *ngIf="isLoading"></div>
  <app-collection-info [collection]="collection"></app-collection-info>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
