@import '../../../theme/theme.scss';

.container {
  @include flavoca-elevation(1);
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;

  .disable {
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba($color: #000000, $alpha: 0.75);
    position: absolute;
    top: 0;
    left: 0;
  }

  .content {
    width: 100%;
  }
}
