<div class="container">
  <div class="item">
    {{data.severity === 'error' ? (data.message | error) : data.message}}
  </div>
  <div class="item">
    <button mat-icon-button (click)="onDismiss()">
      <mat-icon aria-hidden="false" aria-label="Close snackbar" [inline]="true">
        close
      </mat-icon>
    </button>
  </div>
</div>
