@import '../../../theme/theme.scss';
@import '../../../theme/variables.scss';

:host {
  display: flex;
  align-items: center;
  justify-content: center;

  mat-card {
    @include flavoca-elevation(2);
    margin: 0 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and (max-height: 900px) {
      width: $card-small-width;
      height: $card-small-height;
    }

    @media only screen and (min-height: 900px) {
      width: $card-medium-width;
      height: $card-medium-height;
    }
  }
}
