<mat-card *ngIf="viewType ==='side' || currentView === 'front'" @card>
  <app-card-active *ngIf="preview" state="front"></app-card-active>
  <app-card-edit *ngIf="!preview" state="front"></app-card-edit>
</mat-card>
<mat-card *ngIf="viewType === 'side' || currentView === 'back'" @card>
  <app-card-active *ngIf="preview" state="back"></app-card-active>
  <app-card-edit *ngIf="!preview" state="back"></app-card-edit>
</mat-card>
