<form [formGroup]="signupForm" (submit)="onSubmit()">
  <mat-card class="card">
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-content>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput required formControlName="username">
        <mat-error *ngIf="signupForm.invalid">You must enter a value</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" required email formControlName="email">
        <mat-error *ngIf="signupForm.invalid">
          {{ signupForm.value.email ? 'Not a valid email!' : 'You must enter a value' }}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" required formControlName="password">
        <mat-error *ngIf="signupForm.invalid">You must enter a value
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end" class="actions">
      <button mat-flat-button color="primary" type="submit" [disabled]="signingState">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
<div class="container">
  <span class="para">Already have an account? <a class="link" routerLink="/auth/sign-in">Sign in</a></span>
</div>
