<form [formGroup]="signinForm" (submit)="onSubmit()">
  <mat-card class="card">
    <mat-card-title>Sign In</mat-card-title>
    <mat-card-content>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Username/ Email</mat-label>
        <input matInput required formControlName="identifier">
        <mat-error *ngIf="signinForm.invalid">
          You must enter a value
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" required formControlName="password">
        <mat-error *ngIf="signinForm.invalid">You must enter a value
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end" class="actions">
      <button mat-flat-button color="primary" type="submit" [disabled]="signingState">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
<div class="container">
  <span class="para">Don't have an account? <a class="link" routerLink="/auth/sign-up">Sign up</a></span>
</div>
