@import '../../../theme/theme.scss';

.actions {
  margin: 0 16px;
}

.form-field {
  width: 100%;
}

.container {
  margin-top: 32px;
  text-align: center;

  .link {
    text-decoration: underline;
    color: $flavoca-primary;
  }
}
