<mat-form-field appearance="outline">
  <textarea mat-autosize [matAutosizeMinRows]="1" [matAutosizeMaxRows]="3" type="text" matInput
    [placeholder]="placeholder" [formControl]="additionalForm" (focus)="onAInputFocus()"></textarea>
  <mat-hint class="mat-caption">{{hint}}</mat-hint>
</mat-form-field>
<button mat-icon-button *ngIf="state" @state (click)="onDelete()">
  <mat-icon>
    delete
  </mat-icon>
</button>
