@import '../../../theme/variables.scss';

.deck-container {
  width: $collectionSize;
  height: $collectionSize;
  border: 5px dashed rgba($color: #000000, $alpha: 0.25);
  color: rgba($color: #000000, $alpha: 0.25);
  cursor: pointer;
  transition: ease-in-out 0.1s all;

  &:hover {
    border-color: rgba($color: #000000, $alpha: 0.5);
    color: rgba($color: #000000, $alpha: 0.5);
  }

  .icon {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
