<div class="buttons">
  <button mat-stroked-button (click)="onCollection()">Collection</button>
  <ng-template appDropdown></ng-template>
</div>
<div class="filters">
  <span>Filter: </span>
  <mat-chip-list aria-label="Filters">
    <mat-chip *ngIf="collectionFilter !== null" color="primary" selected [removable]="true" (removed)="onCollectionRemove()">
      {{collectionFilter.length ? collectionFilter : 'Default'}} Collection
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>
