:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  position: relative;

  .buttons {
    margin-bottom: 6px;
  }

  .filters {
    display: flex;
    align-items: center;

    span {
      margin: 6px;
    }
  }
}
