@import '~@angular/material/theming';
@import '../app/card/state/edit/card-edit.component.theme.scss';
@import '../app/card/state/active/card-active.component.theme.scss';

@include mat-core();

$primary: mat-palette($mat-pink, A700);
$accent: mat-palette($mat-blue, 300);
$success: mat-palette($mat-green, 500);
$warn: mat-palette($mat-red, 500);

$flavoca-primary: mat-color($primary);
$flavoca-accent: mat-color($accent);
$flavoca-success: mat-color($success);
$flavoca-warn: mat-color($warn);

$flavoca-swift-linear: $swift-linear;

$flavoca-theme: mat-light-theme($primary, $accent);

@mixin flavoca-elevation($level) {
  @include _mat-theme-overridable-elevation($level, $flavoca-theme);
}

@include angular-material-theme($flavoca-theme);
@include app-card-edit-theme($flavoca-theme);
@include app-card-active-theme($flavoca-theme);
