$collectionSize: 200px;

$collection-grey-background: #d6d6d6;
$collection-red-background: #ff867c;
$collection-blue-background: #6ec6ff;

$card-small-width: 300px;
$card-small-height: 450px;
$card-medium-width: 350px;
$card-medium-height: 650px;
