<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon button" class="btn" *ngIf="user && user.verified">
    <mat-icon aria-hidden="false" aria-label="Menu icon">
      menu
    </mat-icon>
  </button>
  <a routerLink="/" class="link">FLAVOCA</a>
  <a mat-button class="btn" routerLink="/collections" *ngIf="user && user.verified">Collections</a>
  <a mat-button class="btn" routerLink="/cards" *ngIf="user && user.verified">Cards</a>
  <div class="flex-spacer"></div>
  <a mat-button class="btn" class="sign-in" routerLink="/auth/sign-in" *ngIf="!user">Sign In</a>
  <div *ngIf="user && user.verified" class="user-container" #userContainer>
    <ng-template appDropdown></ng-template>
    <div (click)="onDropdown()" class="user-content" mat-ripple>
      <img mat-card-avatar [src]="user.avatar" alt="user_avatar" (error)="onAvatarError()" *ngIf="userAvatarValid"
        class="avatar">
      <mat-icon aria-hidden="false" aria-label="User Icon" class="avatar icon" *ngIf="!userAvatarValid">
        person
      </mat-icon>
      <span class="username">{{user.displayName ? user.displayName : user.username}}</span>
    </div>
  </div>
</mat-toolbar>
