@import '../../theme/theme.scss';

.btn {
  margin: 0 8px;
}

.link {
  color: unset;
  text-decoration: unset;
  margin: 0 16px;
}

.sign-in {
  cursor: pointer;
  font-size: 0.9rem;
}

.user-container {
  margin-right: 16px;
  position: relative;

  .user-content {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: $flavoca-primary;
    transition: $flavoca-swift-linear;

    &:hover {
      filter: brightness(110%);
    }

    .avatar {
      margin-right: 16px;
      width: 35px;
      height: 35px;
      border-radius: 100%;

      &.icon {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .username {
      font-size: 1rem;
    }
  }
}
