.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: absolute;
  z-index: 900;
  top: 0;

  .spinner {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: white;
}
