<div class="container">
  <span class="mat-h1">Cards</span>
  <div class="actions">
    <button mat-raised-button color="primary" (click)="onAdd()">
      <mat-icon [inline]="true">edit</mat-icon>
      <span>Toggle Edit</span>
    </button>
  </div>
  <div class="toolbar">
    <div class="left">
      <button mat-icon-button (click)="onSearchState()">
        <mat-icon>
          search
        </mat-icon>
      </button>
      <button mat-icon-button (click)="onFilterState()">
        <mat-icon>
          filter_list
        </mat-icon>
      </button>
    </div>
    <button mat-icon-button (click)="onRefresh()">
      <mat-icon>
        refresh
      </mat-icon>
    </button>
  </div>
  <div class="search-bar" *ngIf="searchState" @search>
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input type="text" matInput placeholder="Type a keyword..." [(ngModel)]="searchValue" (keyup)="onSearch()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchValue" (click)="onSearchClear()">
        <mat-icon>
          close
        </mat-icon>
      </button>
    </mat-form-field>
  </div>
  <app-card-filter-bar *ngIf="filterState" @search></app-card-filter-bar>
  <div class="cards">
    <mat-progress-spinner color="primary" mode="indeterminate" [diameter]="50" *ngIf="loading"></mat-progress-spinner>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="front">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Card</th>
        <td mat-cell *matCellDef="let element">{{element.front}}</td>
      </ng-container>
      <ng-container matColumnDef="collection">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Collection</th>
        <td mat-cell *matCellDef="let element">{{getCollectionName(element.collectionId)}}</td>
      </ng-container>
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last update</th>
        <td mat-cell *matCellDef="let element">{{element.updatedAt | date}}</td>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
        <td mat-cell *matCellDef="let element">{{element.createdAt | date}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)" class="card-row"
        [ngClass]="{'selected': isSelected(row)}">
      </tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching</td>
      </tr>
    </table>
  </div>
</div>
