@import '../../../theme/theme.scss';

.container {
  @include flavoca-elevation(2);
  height: 100%;
  background-color: white;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .actions {
    width: 100%;
    margin: 16px 0;
  }

  .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 6px;

    .left {
      button {
        margin: 0 8px;
      }
    }
  }

  .search-bar {
    width: 100%;

    mat-form-field {
      width: 100%;
    }
  }

  .cards {
    width: 100%;
    z-index: 1;

    mat-progress-spinner {
      margin: auto;
    }

    table {
      width: 100%;

      .card-row {
        cursor: pointer;
        height: 40px;

        &:hover {
          background-color: whitesmoke;
        }
      }

      .selected {
        background-color: rgba($flavoca-accent, $alpha: 0.3);

        &:hover {
          background-color: rgba($flavoca-accent, $alpha: 0.45);
        }
      }
    }
  }

  button {
    span {
      margin-left: 5px;
    }
  }
}

:host {
  height: 100%;
  width: 35vw;
  min-width: 350px;

  &.active {
    width: 100vw;
  }
}
